/* Styles for TextCenter component */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.text-center{
    width: 100%;
    height: 280px;
    
    margin-top: -180px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      font-family: "Creepster", cursive;
      
      letter-spacing: 2px;
      word-spacing: 4px;
      
}
.text-center h2{
    text-align: center;
    color: white;
    font-weight: 600;
      transform: rotate(2deg);
      font-family: "Creepster", cursive;
      font-size: 40px;
}
.text-center h3{
    font-size: 30px;
    text-align: center;
    width: 130px;
    padding: 5px;
    font-family: "Creepster", cursive;
    background-color: rgb(24, 235, 24);
     transform: rotate(-8deg);
}